{% extends "base.html" %}

{% block title %}Lista de Pedidos - Sistema de E-commerce{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Pedidos</h1>
            <p>Aqui estão listados os pedidos realizados no sistema.</p>

            <!-- Botão para cadastrar novo pedido -->
            <a href="{{ url_for('pedido.cadastrar_pedido') }}" class="btn btn-primary mb-3">Cadastrar Novo Pedido</a>

            <!-- Tabela de pedidos -->
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Valor Total</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.pedido_id }}</td>
                        <td>{{ pedido.data_pedido.strftime('%d/%m/%Y %H:%M') }}</td> <!-- Formata a data e a hora -->
                        <td>{{ pedido.cliente.nome }}</td>
                        <td>{{ pedido.status_pedido }}</td>
                        <td>{{ pedido.total }}</td>
                        <td class="text-center">
                            <!-- Botões de ação (Editar e Excluir) -->
                            <a href="{{ url_for('pedido.editar_pedido', id=pedido.pedido_id) }}" class="btn btn-warning btn-sm">Editar</a>
                            <form action="{{ url_for('pedido.excluir_pedido', id=pedido.pedido_id) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhum pedido cadastrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
